<!DOCTYPE html>
<html lang="en-IN">

<head>
  <title>Buy Earbuds, Headphones, Earphones at India’s No.1 Earwear Brand: boAt</title>
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="Keywords" content="Buy Earbuds, Headphones, Earphones at India’s No.1 Earwear Brand: boAt">
  <meta name="Description" content="Buy Earbuds, Headphones, Earphones at India’s No.1 Earwear Brand: boAt">
  <meta property="og:title" content="Buy Earbuds, Headphones, Earphones at India’s No.1 Earwear Brand: boAt">
  <meta name="theme-color" content="#ffffff" id="themeColor">
  <meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no">
  <link rel="shortcut icon" href="/website/images/favicon.ico">
  <link rel="stylesheet" href="/website/css/bootstrap.min.css">
  <link rel="stylesheet" href="/website/css/custom.css">
  <script src="/website/js/jquery.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    body,
    a,
    p,
    span,
    div,
    input,
    button,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: 'Poppins', sans-serif !important;
    }
  </style>
  <!-- Meta Pixel Code -->
  <script>
    ! function(f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function() {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '582473417090719');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none" src="tr?id=582473417090719&ev=PageView&noscript=1"></noscript>
  <!-- End Meta Pixel Code -->
</head>

<body class="expansion-alids-init" cz-shortcut-listen="true">
  <div class="loading" id="loader">
    <img src="s/files/1/0057/8938/4802/files/final-loader.gif?v=1670845994" alt="">
  </div>
  <div id="container" style="overflow:hidden">
    <div style="height:100%" data-reactroot="">
      <div>
        <div class="_2dxSCm">
          <div class="_3CzzrP" style="">
            <div class="_38U37R">
              <div>
                <div class="_1FWdmb" style="">
                  <div>
                    <a class="_3NH1qf d-none" id="back-btn">
                      <svg width="19" height="16" viewbox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.556 7.847H1M7.45 1L1 7.877l6.45 6.817" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
                      </svg>
                    </a>
                    <a class="_3NH1qf " id="showmenu">
                      <img alt="menu" src="/image/hamburger-icon_e04a19e8-1d6b-48f9-842c-3cc7c96368ae.png?v=1693460503" height="16px" width="16px" class="menu-light_31Y9yB logo-dark   d-none">
                      <img alt="menu" src="/image/hamburger-icon.png?v=1675762678" height="16px" width="16px" class="menu-dark">
                    </a>
                    <a class="Z4_K_h" style="width:60px;height:auto;" href="/">
                      <img src="/image/boAt_logo_small_71d998b6-159b-46d2-8b6f-a91055697fdc.png?v=1693460400" class="_31Y9yB logo-light  d-none" style="width:60px;height:auto;">
                      <img src="/image/boAt_logo_small_3067da8c-a83b-46dd-b28b-6ef1e16ccd17_small.svg?v=1693549434" class="_31Y9yB logo-dark " style="width:60px;height:auto;">
                    </a>

                  </div>

                  <div class="header-menu">
                    <a href="#" class="_3NH1qf">
                      <img src="/image/search_558f3ad8-0ef9-4a9b-8576-a396b44aacd8.png?v=1680091847" width="22" height="22" style="margin-left:4px;" alt="search-icon" class="search-dark ">
                      <img src="/image/search_b57f9909-55e8-432a-95c3-734b258d2d9e.png?v=1693460577" width="22" height="22" style="margin-left:4px;" alt="search-icon" class="search-light  d-none">
                    </a>
                    <a class="_3NH1qf" href="#">
                      <img src="/image/user_6be0d230-5262-4e4c-94b2-e796ba39b697.png?v=1663761259" width="22" height="22" class="user-login-dark  ">
                      <img src="/image/user.png?v=1614329938" width="22" height="22" class="user-login-light  d-none">
                    </a>
                    <a class="_3NH1qf" href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewbox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve" height="22" width="22">
                        <style type="text/css">
                          .st0 {
                            fill-rule: evenodd;
                            clip-rule: evenodd;
                            fill: #000;
                          }
                        </style>
                        <path class="st0 header_cart_icon_svg" d="M14,6.1v1.2C14,7.6,14.4,8,14.7,8c0.4,0,0.7-0.3,0.7-0.7V6.1h1.4c0.6,0,1.1,0.4,1.2,1l1.4,12.2  c0.1,0.6-0.4,1.2-1,1.3c0,0-0.1,0-0.1,0H3.7c-0.6,0-1.2-0.5-1.2-1.2c0,0,0-0.1,0-0.1L4,7.1c0.1-0.6,0.6-1,1.2-1h1.4v1.2  C6.6,7.6,6.9,8,7.3,8S8,7.6,8,7.3V6.1H14z M15.4,4.7V4.4C15.4,2,13.5,0,11,0S6.6,2,6.6,4.4v0.2H5.2c-1.3,0-2.4,1-2.6,2.3L1.2,19.1  C1,20.5,2,21.8,3.4,22c0.1,0,0.2,0,0.3,0h14.5c1.4,0,2.6-1.2,2.6-2.6c0-0.1,0-0.2,0-0.3L19.4,7c-0.2-1.3-1.3-2.3-2.6-2.3H15.4z   M11,1.4c-1.7,0-3,1.4-3,3l0,0v0.2H14V4.4C14,2.8,12.7,1.4,11,1.4L11,1.4z"></path>
                      </svg>
                    </a>
                  </div>
                </div>